<% if (locals.errors) { %>
  <% if (passwordError) { %>
    <p><%= errors[0].msg %></p>
  <% } else { %>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>
<% } %>