<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <%- include('favicon') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('nav') %>
    <h1><%= title %></h1>
    <p>Use the above links to navigate through the inventory.</p>
    <p>Note that the term "studio" throughout this site refers to the distributing studio only.</p>
  </body>
</html>
