<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/favicon') %>
    <title>Delete confirmation</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>Delete studio</h1>
    <p>Studio successfully deleted.</p>
    <% if (missingStudioMovies) { %>
      <p><strong>Alert:</strong> there are now movies with a missing studio. It is strongly recommended to edit each movie and add a new studio to each:</p>
      <ul>
        <li><a href="/studios/missing">Missing studio movies</a></li>
      </ul>
    <% } %>
    <p><a href="/studios">&lt;&lt; All studios</a></p>
    <p><a href="/">&lt;&lt; Home</a></p>
  </body>
</html>
