<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/favicon') %>
    <title>Delete confirmation</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>Delete movie</h1>
    <p>Movie successfully deleted.</p>
    <p><a href="/movies">&lt;&lt; All movies</a></p>
    <p><a href="/">&lt;&lt; Home</a></p>
  </body>
</html>
